@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');
* { box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    background-attachment: fixed;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    color: #000;
    background-color: #f2fdfe;
    border-radius: 5px;
}
main{
    padding-bottom: 0px;
}
body{
    background-image: url("calmbackground.jpg");
    background-size: cover;
}
.logo{
    background-image: url("facecalm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px; 
    width: 300px;
    height: 200px;   
    margin: 0 0;
    position: relative;
}
p{
    margin-left: 30px;
}
header {
    margin: 30px 0;
    padding-left: 0;
    padding-top: 30px;
    font-size: 24px;
    color: #85c2e4;
    font-weight: bold;
}
nav {
    width: 70%;
    text-align: center;
    float: right;
    text-transform: uppercase;
    font-size: 36px;
    padding-top: 0%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
nav ul li {
    display: inline-block;

}
nav ul li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: 700;
}
nav a:hover {
    color: black;
}
nav a:visited {
    color: #85c2e4;
}

nav ul li {
    position: relative;
}
nav ul li ul {
    position: absolute;
    background-color: #f5f5f5;
    text-align: left;
    opacity: 80%;
    display: none;
    transition: .3s;
    padding-right: 1em;
}

nav ul li ul li a {
    display: block;
    background-color: #f5f5f5;
}

nav ul li:hover ul{
    display: block;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #22a0d2;
    color: #f5f5f5;
}

.clearfix {
    clear: both;
}
footer {
    padding: 40px;
    background-color: #85c2e4;
    color: #F5F5F5;
    text-align: center;
    position: relative;
}
footer a{
    color: #F5F5F5;
}
h1{
    font-size: 35px;
    color: #000;
    margin-bottom: 5px;
    text-decoration: none;
}

h2{ 
    text-align: center;
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
    border-bottom: 8px solid #e9c0e2;
    margin-bottom: 0;
}

.bannertext{
    color: #3694c7;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 20px;
    margin: auto;
}
.bannerbox{
    background: rgba(255, 255, 255, 0.5);
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #000;

}
button{
    display: block;
    box-sizing: border-box;
    padding: 8px;
    width: 150px;
    max-width: 200px;
    background: #85c2e4;
    border-radius: 15px;
    border: 1px solid #000;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */ 
 
}
button:hover{
    background-color: #3694c7;
}
#button2{
    display: block;
    box-sizing: border-box;
    padding: 8px;
    width: 150px;
    max-width: 200px;
    background: #e9c0e2;
    border-radius: 15px;
    border: 1px solid #000;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    margin-left: 75px;
    margin-top: 10px;
    margin-right: auto;
}
#button2:hover{
    background-color: #d277c3;
}
